
/* Class Générique */
body
{
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    background-image: url(../img/background.jpg);
    background-size: cover;
    color: white;
    font-size: 5vh;
}
.sound {
    position: absolute;
    left: 1%;
    top: 1%;
    background-color:  #000000;
    border :1px solid black;
    color: #FFFFFF;
    font-size: 20px;
}
.hidden
{
    display: none;
}
/* Class hit & Miss */
.hit{
    background-image: url(../img/touch.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}
.smoke
{
    background-image: url(../img/smoke.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}

.miss
{
    background-color: rgba(0, 52, 76, 0.877);
}
/* Placement Général*/
#section_game
{
    display: flex;
    flex-direction: row;
}
/* Initialitation CSS for Table */

table
{
    width: 45vw;
    height: 45vw;
    background-color: #3C383858;
}
#letableau, .uneligne, .battleCase 
{
    padding: 10px;
    border: 1px solid white;
    border-collapse: collapse;
}
#letableauinvisible, .uneligneinvisible, .battleCaseinvisible 
{
    padding: 10px;
    /*border: 1px solid white;*/
    border-collapse: collapse;
    overflow: hidden;
}
.battleCaseinvisible
{
    overflow: hidden;
    margin: 0;
    padding: 0;
    max-width: 2%;
}
.caseplacement{
    width: 10%;
    height: 10%;
}
.battlecaseinvisible
{
    width: 10%;
    height: 10%;
}

/* ID Place Table */
#placementGeneral
{
    position: flex;
    flex: 1;
    width: 50%;
    text-align: center;
}
#game_board_main
{
    position: absolute;
}

#game_board_main2
{
    position: absolute;
}


/* Placement Explication */
#placementexplication
{
    width: 50%;
    flex: 1;
}

/* Placement des bateaux */
.fullbtn
{
    
    height: 7vh;
    margin: 0 auto;
    color: #FFFFFF;
    background-color: #000000;
    font-family: 'Press Start 2P', cursive;
}
#btn_btn1
{
  position: absolute;
  margin: auto;
  bottom: 2%;
  left: 13.5%;
}
#btn_btn2
{
    position: absolute;
    margin: auto;
    bottom: 2%;
    right: 17%;
}
/* Les Titres */
.title_game {
    text-align: right;
    font-size: 4vh;
    padding-top: 1%;
    margin-right: 2%;
}
    
/* Score */
#score
{
    margin-top: 66vh;
    width: 55vh;
    font-size: 2vh;
    background-color: #3C3838;
    padding: 2vh;
}
/* Vidéo */
video
{
    margin-bottom: 0;
    margin-top: 5%;
    margin-right: 1%;
    width: 40vw;
    height: auto;
    border: solid 1px black;
}


/* Boat Placement */

#boat-1.draggable.boatturn.affichageboatturn
{
    margin-top: 0%;
   
}
#boat-2.draggable.boatturn.affichageboatturn
{
    margin-top: 5%;
   
}
#boat-3.draggable.boatturn.affichageboatturn
{
    margin-top: 10%;
   
}
#boat-4.draggable.boatturn.affichageboatturn
{
    margin-top: 0%;
   
}
#boat-5.draggable.boatturn.affichageboatturn
{
    margin-top: 5%;
   
}
#boat-1.draggable.boatturn{
    height: 7vh;
    width: 35vh;
    margin-top: -30px;
    margin-left: -40px;
}
#boat-1.draggable.boatturn.ElementPlacer.passagesmallboat-1
{
    height: 5.25vh;
    width: 26.25vh;
    margin-top: -20px;
     margin-left: -5vh;

}
#boat-1{
    width: 7vh;
    height: 35vh;
}
#boat-1.passagesmallboat-1
{
    width: 5.25vh;
    height: 26.25vh;
    margin-top: -20px;
}
#boat-2.draggable.boatturn{
    height: 7vh;
    width: 28vh;
    margin-top: -30px;
    margin-left: -40px;
}
#boat-2.draggable.boatturn.ElementPlacer.passagesmallboat-2
{
    height: 5.25vh;
    width: 21vh;
     margin-top: -20px;
     margin-left: -5vh;
}
#boat-2{
    width: 7vh;
    height: 28vh;
}
#boat-2.passagesmallboat-2{
    width: 5.25vh;
    height: 21vh;
    
}
#boat-3.draggable.boatturn{
    height: 7vh;
    width: 21vh;
    margin-top: -30px;
    margin-left: -40px;
}
#boat-3.draggable.boatturn.ElementPlacer.passagesmallboat-3
{
    height: 5.25vh;
    width: 15.75vh;
     margin-top: -20px;
     margin-left: -5vh;

}
#boat-3{
    width: 7vh;
    height: 21vh;
}
#boat-3.passagesmallboat-3{
    width: 5.25vh;
    height: 15.75vh;
    
}
#boat-4.draggable.boatturn{
    height: 7vh;
    width: 21vh;
    margin-top: -30px;
    margin-left: -40px;
}
#boat-4.draggable.boatturn.ElementPlacer.passagesmallboat-4
{
    height: 5.25vh;
    width: 15.75vh;
     margin-top: -20px;
     margin-left: -5vh;

}
#boat-4{
    width: 7vh;
    height: 21vh;
}
#boat-4.passagesmallboat-4{
    width: 5.25vh;
    height: 15.75vh;
    
}
#boat-5.draggable.boatturn{
    height: 7vh;
    width: 14vh;
    margin-top: -30px;
    margin-left: -40px;
}
#boat-5.draggable.boatturn.ElementPlacer.passagesmallboat-5
{
    height: 5.25vh;
    width: 10.5vh;
     margin-top: -20px;
    margin-left: -5vh;
}
#boat-5{
    width: 7vh;
    height: 14vh;
}
#boat-5.passagesmallboat-5{
    width: 5.25vh;
    height: 10.5vh;   
}
.draggable
{
    
    margin-top: -2vh;
}
.draggable.boatturn
{
    padding-left: 6vh;
}

.ElementPlacer
{
    position: absolute;
}
#bateauplacer
{
   margin-top: 6%;
    height: 31vh;
}
#letableau.changementplace
{
    width: 60vh;
    height: 60vh;
}
#letableauvisible.changementplace
{
     width: 60vh;
    height: 60vh;
    
}
 #letableauia, .uneligneia, .battleCaseia 
 {
    padding: 10px;
    border: 1px solid white;
    border-collapse: collapse;
    margin-right: 2vh;
}
.placementGridSmall
{
    margin-left: 7vw;
}


/* Animation */

#backgroundspace
{
    position: absolute;
}
.spacebeetween
{
    animation: vaiseauBackground;
    animation-duration: 10s;
}
@keyframes vaiseauBackground
{
    0%{
        margin-left: -50vw;
        margin-top: 100vh;
    }
    50%
    {
        margin-left: 0vw;
        margin-top: 0vh;
    }
    100%
    {
        margin-left: 100vw;
        margin-top: 50vh;
    }
}
#responsive
{
    display: none;
}

.btnGame:hover,.btnBtnBar:hover,.return:hover {
    box-shadow: -3px 3px 0 rgb(71, 71, 71);
}
.btnGame {
    width: 30%;
    height: 12%;
    margin: 0 auto;
    color: #FFFFFF;
    background-color: #000000;
    font-family: 'Press Start 2P', cursive;
}
.btnBtnBar {
    
    color: #FFFFFF;
    background-color: #000000;
    font-family: 'Press Start 2P', cursive;
    width: 15%;
    height: 100%;
    padding: 1%;
}
.btnBar {
    display: flex;
    flex-direction: row;
    margin-top: 8%;
    justify-content: space-around;
    
}
#sectionVictoireSolo h1, #sectionGameOver h1{
    margin-top: 20%;
}
.return {
    width: 6%;
    height: 5%;
    color: #FFFFFF;
    background-color: #000000;
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
    margin-top: 4%;
    margin-left: 1%;;
}
#attendBoat {
    width: 100vw;
    height: 100vh;
}
.overlayVideoR
{
    position: absolute;
    background-color: #000000;
    z-index: 4;
    width: 100vw;
    height: 100vh;    
}
.videoOverlayR
{
    z-index: 4;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto ;
    width: 80vw;
}
.overlayVideoE
{
    position: absolute;
  background-color: #000000;
    z-index: 4;
    width: 100vw;
    height: 100vh;    
}
.videoOverlayE
{
    z-index: 4;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto ;
    width: 80vw;
}
.carreExplosion
{
    background-image: url(../img/explosion.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;

}

.fake
{
    position: absolute;
    background: rgba(0, 0, 0, 0);
    z-index: 4;
    width: 100vw;
    height: 90vh;    

}

.overlayAi
{
    position: absolute;
    margin: auto;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(27, 26, 26, 0.521);
}

.overlayAi p 
{
    color: white;
    margin-bottom: 3vh;
}

@media screen and (max-width: 900px) 
{
        #btn_btn1
    {
    font-size: 0.8rem;
    position: absolute;
    margin: auto;
    bottom: 2%;
    left: 4%;
    }
        #btn_btn2
    {
        font-size: 0.8rem;
        position: absolute;
        margin: auto;
        bottom: 2%;
        right: 4%;
    }
}
